body {
  --ch-scrollycoding-sticker-width: 55%;
  --ch-scrollycoding-code-min-height: 62vh;
}

.ch-scrollycoding {
  gap: 0;
}

.ch-editor-frame .ch-editor-button {
  display: none;
}

.ch-editor-frame:hover .ch-editor-button {
  display: block;
}

@media (max-width: 1023px) {
  .ch-spotlight {
    flex-direction: column;
  }
  .ch-spotlight .ch-spotlight-sticker {
    order: -1;
    width: auto;
    top: 0;
    height: 50vh;
  }
  .ch-spotlight .ch-spotlight-tab {
    margin: 0;
  }
}

.ch-scrollycoding-step-content {
  border-radius: 0;
  padding: 16px;
  border: 0;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.ch-scrollycoding-step-content[data-selected] {
  border-color: var(--sail-color-blue-400);
  background-color: var(--sail-color-gray-50);
}

.utterances {
  padding-top: 24px;
}
