@tailwind base;
@tailwind components;
@tailwind utilities;

.ch-editor-frame .ch-editor-button {
  display: none;
}

.ch-editor-frame:hover .ch-editor-button {
  display: block;
}

@media (max-width: 767px) {
  .ch-spotlight {
    flex-direction: column;
  }
  .ch-spotlight .ch-spotlight-sticker {
    order: -1;
    width: auto;
    top: 1vh;
    height: 60vh;
  }
  .ch-spotlight .ch-spotlight-tab {
    margin: 0;
  }
}
